{% extends "auctions/layout.html" %}

{% block body %}
<h3 style="color:#1c9ce6;">Items I Wish For</h3>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Category</th>
        <th scope="col">Current Price</th>
        <th scope="col">Current Bidder</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for wish in wishlist %}
      <tr>
        <th scope="row">
            <form action="{% url 'getlisting' %}" method="POST" >
              {% csrf_token %}
              <input type="text" name="wish" value="{{wish.title}}" hidden>
              <button type="submit" style="border: hidden; background-color: #fff; color: #1c9ce6; font-weight:bold;" > 
                {{wish.title}}
              </button>
            </form>
        
        </th>
        <td>{{wish.category}}</td>
        <td>{{wish.bid_amount}}</td>
        <td>{{wish.winner}} </td>
        <td>
          <form action="{% url 'removeWishitem' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="you" value="{{ user.id }}" hidden>
            <input type="text" name="wish" value="{{wish.title}}" hidden>
            <button type="submit" class="btn btn-primary">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
              </svg>
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}